@charset "UTF-8";
body {
  font-family: "Arial", sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

header {
  background: white;
  color: black;
  text-align: center;
  padding: 20px 0;
}
header .tabs {
  display: flex;
  justify-content: center;
}
header .tabs button {
  background: none;
  border: none;
  color: black;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 20px;
}
header .tabs button.active {
  background: rgba(88, 88, 88, 0.308);
}

.employee-list {
  padding: 20px;
  max-height: 550px;
  overflow-y: auto;
}
.employee-list .employee-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.employee-list .employee-card .employee-name {
  flex: 1;
}
.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.date-container {
  text-align: left;
  margin-left: 16px;
  color: #999999;
}

footer {
  padding: 20px;
  text-align: center;
}
footer .next-button {
  background: rgba(189, 139, 104, 0.3882352941);
  color: #FF6B40;
  border: none;
  padding: 15px 135px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}
footer .next-button .arrow-icon {
  margin-left: 5px;
  width: 15px;
  height: auto;
}
footer .next-button i.fa {
  margin-left: 5px;
}
footer .next-button:hover {
  background-color: rgba(168, 113, 74, 0.3882352941);
}
footer .next-button:focus {
  outline: none;
}
footer .next-button:active {
  transform: translateY(2px);
}

.employee-list2 {
  padding: 20px;
  max-height: 280px;
  overflow-y: auto;
}
.employee-list2 .employee-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.employee-list2 .employee-card .employee-name {
  flex: 1;
}
.section-header .selected-employees-title {
  color: #FF6B40;
  margin: 20px 0;
  font-size: 1.5em;
  text-align: center;
}

.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode .tabs .tab {
  background-color: #333;
  color: #ddd;
}
.dark-mode .container {
  background-color: black;
}
.dark-mode header {
  background-color: black;
  color: white;
}
.dark-mode .employee-card {
  background-color: black;
}
.dark-mode .selected-employees-title {
  color: #FF6B40;
}
.dark-mode .date-container {
  background-color: black;
}

.dark-mode-button {
  background: #555;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.change {
  text-align: center;
}

.tip-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: auto;
}

input[type=text],
input[type=number] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.tip-buttons button {
  background-color: white;
  border: #FF6B40;
  color: #FF6B40;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 16px;
}

.tip-buttons button:last-child {
  margin-right: 0;
}

.tip-buttons {
  display: flex;
  justify-content: space-evenly;
}

.submit-tip {
  width: 100%;
  background-color: white;
  color: #FF6B40;
  padding: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

label {
  color: #FF6B40;
  font-weight: bold;
}

/* Style pour le bouton de menu */
.menu-button {
  cursor: pointer;
  display: inline-block;
  float: right; /* Alignez à droite ou ajustez en fonction de votre mise en page */
  margin-right: 10px;
}

.menu-bar {
  display: block;
  width: 25px; /* Largeur des barres du menu */
  height: 3px; /* Hauteur des barres du menu */
  background-color: #333; /* Couleur des barres du menu */
  margin: 5px 0; /* Espacement entre les barres */
}

.menu-bar2 {
  display: block;
  width: 15px; /* Largeur des barres du menu */
  height: 3px; /* Hauteur des barres du menu */
  background-color: #333; /* Couleur des barres du menu */
  margin: 5px 0; /* Espacement entre les barres */
}

/* Style pour la modale de menu */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Style pour les éléments de menu */
.menu-item {
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
}
.menu-item img {
  margin-right: 10px;
}

/* Boutons du menu */
.modify-service, .close-service {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  /* Ajoutez plus de styles selon vos préférences */
}

/* Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}
/* Style pour le bouton de fermeture */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 25px;
}

.employee-department {
  /* Styles pour le département de l'employé */
  background-color: #CBCBCB;
  color: black;
  font-size: 0.8em; /* Petite taille de texte pour la catégorie */
  margin-top: 4px; /* Espace entre le nom et la catégorie */
  margin-left: 150px;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
}/*# sourceMappingURL=styles.css.map */